<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CADASTRO</title>
  <link rel="stylesheet" href="/style/cadastro.css">
  <link rel="shortcut icon" href="/assets/ICON.png" type="image/x-icon"/>
</head>
<body>
    <div class="topbar">
        <img src="/assets/logo.png" class="logo" alt="">
        <a href="/home">HOME</a>
        <a href="/cadastro">CADASTRAR USUARIO</a>
        <a href="" class = "btn-logout" >LOGOUT</a>        
    </div>
  <div class="main-login">
  <div class="left-login">
    <div class="card-login">
      <h1>CADASTRO</h1>
      <div class="textfield">
        <label for="usuario">LOGIN</label>
        <input type="text" name="usuario" placeholder="Usuário">
      </div>
      <div class="textfield">
        <label for="usuario">SENHA</label>
        <input type="password" name="senha" placeholder="Senha">
      </div>
      <div class="check-register">
          <input type="checkbox" name="ADMINASTROR" id="">
          <label for="" class= "check-text" >ADMINASTROR</label>
          <input type="checkbox" name="SUPERVISOR" id="">
          <label for="" class= "check-text">SUPERVISOR</label>
      </div>
      <button class="btn-entrar">Cadastrar</button>
    </div>
  </div>
  <div class="right-login">
    <img src="/assets/banner_cadastro.svg" class="left-login-image" alt="">
  </div>

  </div>
</body>
</html>