<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="topbar">
        <img src="/assets/logo.png" class="logo" alt="">
        <a href="/dashboard/home" class="actual-page">HOME</a>
        <a href="/cadastro">CADASTRAR USUARIO</a>
        <a href="/logout" class = "btn-logout" >LOGOUT</a>
    </div>

    <div class="content">
        <h1>SEUS COMPUTADORES:</h1>
        <div class="computers">
            <div class="computer-wrapper" th:each="pc : ${pcs}">
                <button class="computer" th:text="${pc.code}" data-bs-toggle="modal" th:attr="data-bs-target='#computermetrics'+${pc.code}" ></button>
                <div class="modal fade" th:attr="id='computermetrics'+${pc.code}" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content" th:insert="modal.html(computer=${pc})">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>