<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style/home.css">
</head>
<body>
    <div class="topbar">
        <img src="/assets/logo.png" class="logo" alt="">
        <a href="/dashboard/home" class="actual-page">HOME</a>
        <a href="/cadastro">CADASTRAR USUARIO</a>
        <a href="/logout" class = "btn-logout" >LOGOUT</a>
    </div>

    <div class="content">
        <h1>SEUS COMPUTADORES:</h1>
        <div class="computers">
            <div class="computer-wrapper" th:each="pc : ${pcs}">
                <button class="computer" th:text="${pc.code}"></button>
            </div>
        </div>
    </div>
</body>
</html>