<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OBSERVER</title>
  <link rel="stylesheet" href="style/login.css">
  <link rel="shortcut icon" href="/assets/ICON.png" type="image/x-icon"/>
</head>
<body>
  <div class="main-login">
  <div class="left-login">
    <div class="card-login">
      <img src="/assets/logo.png" alt="logo">
      <div class="textfield">
        <label for="usuario">LOGIN</label>
        <input type="text" name="usuario" placeholder="Usuário">
      </div>
      <div class="textfield">
        <label for="usuario">SENHA</label>
        <input type="password" name="senha" placeholder="Senha">
      </div>
      <button class="btn-entrar">Entrar</button>
    </div>
  </div>
  <div class="right-login">
    <img src="/assets/banner.svg" class="left-login-image" alt="">
  </div>

  </div>
</body>
</html>